.main{
    text-align: center;
    background: black;
}
.main div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    height: 100px;
    background: black;
    color: white;
    padding: 10px; 
    margin: 3px;  
}
.digitbackground{
    background: rgb(43, 42, 42);
    border: gray, 1px;
    border-radius: 5px;
}
